body {
    color: #032E66;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.custom-background{
    background-color: #A5D1C0;
    font-family: 'Raleway', sans-serif;
}
.search-button {
    background-color: #032E66;
    color:white;

}

#map {
    height: 300px;
    width: 80%;
}
a {
    color: #032E66;
}

a:hover{
    color: white ;
    text-decoration: none
}
img {
    width: 14rem;
}
/* .table {
    word-break: break-all;
} */

@media only screen and (max-width: 576px) {
    #map {
        height: 300px;
        width: 100%;
    }
    img {
        width: 12rem;
    }
    body {
        font-size: 12px;
    }
    table {
        font-size: 10px;
    }
}