/* Set general styles */
body {
    color: #032E66;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
a {
    color: #032E66;
}

a:hover{
    color: white ;
    text-decoration: none
}
/* Custom button styles */
.custom-background{
    background-color: #A5D1C0;
    font-family: 'Raleway', sans-serif;
}
/* Custom Search Button Styles */
.search-button {
    background-color: #032E66;
    color:white;

}

/* Map sizing */
#map {
    height: 300px;
    width: 80%;
}
/* Header image size */
img {
    width: 14rem;
}

#thankYouMessage{
    display:none;
}
#noReportsWarning {
    display: none;
}

/* Small screen styles - adjust for responsiveness */
@media only screen and (max-width: 575px) {
    #map {
        height: 300px;
        width: 100%;
    }
    img {
        width: 12rem;
    }
    body {
        font-size: 12px;
    }
    table {
        font-size: 10px;
    }
}